* {
    padding: 0;
    margin: 0;
    font-family: "Coiny";
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to bottom right, rgb(35, 0, 65), rgb(50, 15, 175), rgb(30, 210, 250));
}

button {
    cursor: pointer;
    border-radius: 0 0 1vw 1vw;
    text-align: center;
    font-size: x-large;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 0 0 15px 15px;
    padding: 25px 0 25px 0;
    text-align: center;
    box-shadow: 10px 10px rgba(0, 0, 0, 0.15);
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 15px 15px 0 0;
    padding: 25px 0 25px 0;
    text-align: center;
    
}

.white{
    background: linear-gradient(#FFFFFF 97%, #f0f0f0 3%);
    color: black;
    width: 10vw;
    height: 30vh;
    box-shadow: 1px 5px rgba(0, 0, 0, 0.5)
}

.white:hover {
    background: linear-gradient(#b2b2b2 97%, #a3a3a3 3%);
}

.white:active {
    background: linear-gradient(#b2b2b2 97%, #a3a3a3 3%);
}

.white.active {
    background: linear-gradient(#b2b2b2 97%, #a3a3a3 3%);
}

.black {
    background: linear-gradient(#2b2a2a, #000000);
    color: white;
    width: 5vw;
    height: 20vh;
    margin: 0 -2.5vw 0 -2.5vw;
    z-index: 1;
}

.black:hover {
    background: rgb(2, 23, 32);
}

.black:active {
    background: rgb(3, 39, 54);
}

.black.active {
    background: rgb(3, 39, 54);
}

#container {
    display: flex;
    padding: 20px;
    padding-top: 100px;
    border: 10px;
    border-radius: 10px;
    background-color: #1F2020;
}